{% extends "layout.html" %}

{% block title %}
<title>Hakkımızda</title>
{% endblock %}

{% block body %}



<br>
<h6>GarageBand Eğitim</h6>
<hr>
<h6>
Instagram : @kudecc <br>                       
E-Posta : garageband61@gmail.com <br>
<br>
GarageBand Eğitim ile Apple cihazlarda kullanıma sunulmuş olan ( iPhone, İpad, Mac vb ) müzik projelerinizde kullanabileceğiniz GarageBand uygulamasını profesyonel düzeyde öğrenmeniz amaçlanmıştır. Tamamıyla profesyonel özellikler barındıran GarageBand günümüzde yaygın olarak müzik dalında projeler üreten kişilerin kullanmış olduğu bir kayıt düzenleme aracıdır. Sizlerde bu uygulama ile şunları yapabilirsiniz, <br>
<br>
1- GarageBand'e dışarıdan enstrüman bağlayarak kayıt alabilirsiniz. <br>
2- GarageBand kütüphanesindeki binlerce hazır döngüleri projelerinizde kullanabilirsiniz.<br>
3- Online olarak bir kaç kişi ile eşzamanlı doğaçlama müzikler yapabilirsiniz.<br>
4- GarageBand üzerindeki enstrümanları dokunarak kullanabilir ve kayıt alabilirsiniz.<br>
5- Farklı ortamlardaki altyapı müziklerinizi GarageBand'e aktarıp düzenlemeler yapabilirsiniz.<br>
6- Telefonunuz için zil sesleri oluşturabilirsiniz.<br>
</h6>
{% endblock %}

